body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#background-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('./none-static/night.gif');
    transition: background-image 0.5s ease-in-out;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
}

.box {
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    max-width: 1000px;
}

.profile-card {
    width: 400px;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Изначально скрываем элементы */
    transform: translateY(20px); /* Смещение вниз */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.avatar img {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.status {
    color: white;
    font-family: 'Unbounded', sans-serif;
}

.status h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
}

.statusdiscord {
    color: #a1a1a1;
    font-family: "Space Mono", Mulish;
}

.status p {
    margin: 0;
    font-family: "Space Mono", Mulish;
    font-size: 1em;
    color: #a1a1a1;
}

.controls {
    margin-left: 0; /* Убираем автоматическое выравнивание вправо */
    display: flex;
    gap: 10px;
    align-items: center;
    /* Можно использовать margin-right, чтобы контролировать расстояние между кнопками и краем */
}


#toggleButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#toggleButton img {
    width: 25px;
    height: 25px;
}

.github {
    width: 25px;
    height: 25px;
    background-image: url('https://cdn.discordapp.com/attachments/1276178393473355776/1276178479725150310/github.png?ex=66c89553&is=66c743d3&hm=cee78cd53ceaba42e540255ccbdc2ddc063e61f0963f32288ae3b580f60bd746&');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.tg {
    width: 25px;
    height: 25px;
    background-image: url('https://cdn.discordapp.com/attachments/1276178393473355776/1276218810076233758/TELEGRAM.png?ex=66c8bae3&is=66c76963&hm=6ae9afaaee64f102e1b0e98983452a9677ef52a6ea34c7db00fcbd441ec57523&');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.discord {
    width: 25px;
    height: 25px;
    background-image: url('https://cdn.discordapp.com/attachments/1276178393473355776/1276218810378096671/DISCORD.png?ex=66c8bae3&is=66c76963&hm=1cba8d06740dcf356e34b7b2f147d422b33debe11535415e079bbd35695b6440&');
    background-size: cover;
    background-position: center;
    cursor: pointer;

}


.loading {
    margin-top: 0;
    text-align: center;
    align-items: center;
    background: #000; /* Устанавливаем черный фон для загрузочного экрана */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1; /* Изначально элемент полностью видим */
    transition: opacity 1s ease-in-out; /* Анимация исчезновения */
}

.loading.hidden {
    opacity: 0; /* Анимация скрытия */
    transition: opacity 1s ease-in-out;
}

.loading h1 {
    margin-top: 20%;
}
